body{
    background: url(./assets/images/bg_main.gif) center;
}
.cont{
    width: 996px;
    margin: 0 auto;
}
/*topbar start*/
.topbar{
    background: rgb(163, 81, 170);
    height: 30px;
    color: aliceblue;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 2px solid rgb(177, 31, 31);
}
.topbar_right p{
    display: inline-block;
    border-right: 1px solid white;
    padding-right: 10px;
    margin-right: 10px;
}
.topbar_right a{
    text-decoration: none;
    color: aliceblue;
}
/* topbar end*/
/*logo start*/
.logo{
    height: 110px;
}
.logo_left{
    line-height: 110px;
}
.logo_search{
    padding-top: 55px;

}
form input{
    width: 75%;
}
.logo_right{
    padding-top: 35px;
}
.logo1{
    border-right: 1px solid rgb(121, 104, 104);
    height: 45px;
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
    top: 15%;
}
.logo2 p{
    font-size: 13px;
    color: blueviolet;
    position: relative;
    top: 15%;
}
/*logo start*/
/*  menu start*/
.navbar ul li a{
    border-right: 1px solid rgb(121, 104, 104);
}
.navbar ul li a:hover{
    background: green;
}
/*  menu end */
